<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<context-param>
		<param-name>userName</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost:3306/servlet</param-value>
	</context-param>

	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>

	<servlet>
		<servlet-name>Servlet2</servlet-name>
		<servlet-class>com.cts.training.Servlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet2 </servlet-name>
		<url-pattern>/cs1</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LogInServlet</servlet-name>
		<servlet-class>com.cts.training.LogInServlet</servlet-class>


	</servlet>

	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/cs</url-pattern>
	</servlet-mapping>



</web-app>